@charset 'UTF-8';

/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: norse-bold;
    src: url('Norse-Bold.otf');
}
@font-face {
    font-family: harry-potter;
    src: url('HARRYP__.TTF');
}


/* basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root {
    --regular-font: 'Roboto', sans-serif;
    --norse-font: norse-bold, sans-serif;
    --harry-font: harry-potter;

    --dark-blue-clr: #272B40;
    --dark-brown-clr: #594839;
    --light-brown-clr: #D9C5AD;
    --regular-brown-clr: #8C7354;
    --grey-brown-clr: #BFB2AA;
}

body {
    font-family: var(--regular-font);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    /* max-width: 1920px; */

    font-size: 2rem;

    color: var(--dark-brown-clr);

    background-color: var(--light-brown-clr);
}

.cover {
    /* auto width scales the container with the image width */
    width: auto;
}

.cover > img{
    height: 100vh;
    margin-bottom: -10px; /*fit exactly to the view hight*/
}

.content-container {
    flex-grow: 2;
}

.content-container > h1,
.content-container > p {
    padding: 60px;
}

.content-container h1 {
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 6rem;
    font-family: var(--norse-font);
    font-family: var(--harry-font);
    letter-spacing: 4px;
    text-transform: capitalize;
}

.content-container p {
    padding: 20px 60px;
    font-family: var(--norse-font);
    font-size: 2.7rem;
}

.content-container em {
    display: block;
    font-family: var(--harry-font);
    font-size: 2.7rem;
}

.form-row {
    margin-bottom: 30px;
    display: flex;
    gap: 100px;
}

.input-section {
    padding: 20px 60px;
    box-shadow: 0px 6px 6px -2px #0000004b;
}

/* .form-row:nth-last-of-type(2)::after {
    content:"";
    position: absolute;
    top: 30px;
    width:100%;
    height: 100%;
    z-index:-1;
    transform:scaleX(1.2) translateX(-50px);
    box-shadow: 0px 6px 6px -2px #0000004b;
    overflow: hidden;
} */

.form-element label{
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.45rem;
}

.form-element input[type="text"],
.form-element input[type="email"],
.form-element input[type="tel"],
.form-element input[type="password"] {
    padding: 7px;

    font-size: 1.25rem;
    background-color: #e7d1b5;

    appearance: none;
    outline: none;
    border-radius: 8px;
}

.form-element input[type="text"]:focus,
.form-element input[type="email"]:focus,
.form-element input[type="tel"]:focus,
.form-element input[type="password"]:focus {
    border-bottom: 2px solid var(--dark-blue-clr);
    transform: scale(1.05);
}

.form-row > button {


    margin: 60px;
    font-size: 1.8rem;

    font-weight: bold;

    color: #fff;
    background-color: var(--dark-blue-clr);

    border: none;
    border-radius: 15px;

    padding: 15px 50px;
    cursor: pointer;
}

.log-in-container {
    font-size: 1.6rem;
}

.log-in-container > a {
    color: var(--dark-blue-clr);
    text-decoration: none;
}